<div id='container'>
  <!-- Your html here -->
  <h1> The weakest links </h1>


  <div class = 'navigation'>
      <ul>
        <li><a href='#/links'>All Links</a></li>
        <li><a href='#/shorten'>Shorten</a></li>
        <li><a href='#/signin' class='logout' ng-click="destroytoken()">Logout</a></li>
      </ul>
    </div>
  <ul>

 
    <h3 class="headName">Search your links</h3>

    <div class="bar">
    <input type="text" class="search" ng-model="searchString" placeholder="Enter your search terms" ng-keydown="searchFor(searchString)" />
    </div>

    <ul class="link">
        <li ng-repeat="link in realResults track by $index">
          <div class='info'>
            <a href='{{link.base_url}}/{{link.code}}'><img class="box rotate" src='../../assets/redirect_icon.png' /></a>
            <div class='visits'><span class='count'>{{ link.visits }}</span> Visits </div>
            <div class='title'>{{ link.title }}</div>
            <div class='original'>{{ link.url }}</div>
            <a href='{{link.base_url}}/{{link.code}}'> {{ link.base_url }}/{{ link.code }}</a>
          </div>
        </li>
    </ul>


</div>
